<h2>Vendor Data</h2>

<div [hidden]="!authenticated()">
  <app-vendor-form></app-vendor-form>
  <br><br>
  <h2> All Vendors information </h2>
  <table *ngIf="vendordata" class="table table-hover">
  <tr>
    <th *ngFor="let col of vendorcolumns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let vendor of vendordata; let idx=index">
    <td *ngFor="let col of vendorcolumns">
      {{vendor[col]}}
    </td>

    <span><button (click)="editVendor(vendor.vendorId, idx)">Edit</button></span>
    <span><button (click)="deleteVendor(vendor.vendorId, idx)">Delete</button></span>
  </tr>
  </table>

  <button type="button" label="Click" (click)="getAllVendors()">Refresh</button>
</div>

<div [hidden]="authenticated()">
  <p><button class="btn btn-primary" (click)="navigate('/login')">Login</button> to see vendor information</p>
</div>
